*~
.vscode/*
build/*
build-debug/*
bin/*
bin-debug/*
main/incl/version.hpp
*.aux
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
case_studies/*/results/*
documentation/doxygen/html
documentation/doxygen/latex
mymath/src/mymath_main.cpp
