Initial configuration for CS01 – Harmonic oscillator                                         
         1         0        2               
X                1                                                      
   -1.5 0.0 0.0
    0.0 0.0 0.0                
X                2                                                      
   1.5 0.0 0.0
   0.0 0.0 0.0               
